li {
	background-color: #fff;
	margin-bottom: 3px;
}

li h3 {
	font-size: 12px;
	margin: 3px;
}

li h3 span {
	display: inline-block;
	padding: 0 50px;
}

li h4 {
	display: inline-block;
	padding-right: 40px;
	margin: 5px;
}

h4 label, h4 div {
	display: block;
	font-size: 13px;
	color: #333;
}

li {
	position: relative;
	border-bottom: 1px solid #333;
	padding: 10px 20px;
}

li h1 {
	position: absolute;
	right: 30px;
	top: 20%;
}